<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">




<!-- <xacro:macro name="get_origin" params="side position joint_type"> -->
    <!-- <xacro:property name="coords" value="${origins['${side}_${position}_${joint_type}']}"/> -->

<!-- </xacro:macro> -->


<!-- <xacro:property name="mapping" value="${None}"/> -->
<!-- <xacro:property name="mapping" value="${mapping.get('handedness','right')}"/> -->
<!-- <xacro:property name="proximal_len" value="${properties['link_lengths'][finger]['proximal']}"/> -->
</robot>
