<?xml version="1.0"?>
<robot name="hexapod" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find hexapod)/urdf/general.urdf.xacro"/>
    <xacro:include filename="$(find hexapod)/urdf/body.urdf.xacro"/>
    <xacro:include filename="$(find hexapod)/urdf/leg.urdf.xacro"/>

    <!-- <xacro:include filename="$(find hexapod)/urdf/hexapod.gazebo" /> -->

    <!-- Footprint link -->
    <link name="base_footprint">
        <visual>
            <geometry>
                <cylinder length="0.001" radius="0.01"/>
            </geometry>
        </visual>
    </link>

    <!-- Floating-base Joint -->
    <!-- <joint name="floating_base" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base_footprint"/>
        <child link="heaxpod_body_link"/>
    </joint> -->


    <!-- <xacro:generate_body/> -->

    <xacro:generate_body/>

    <xacro:generate_leg side="R" position="M"/>
    <xacro:generate_leg side="R" position="F"/>
    <xacro:generate_leg side="R" position="B"/>

    <!--<xacro:generate_leg side="L" position="M"/>
    <xacro:generate_leg side="L" position="F"/>
    <xacro:generate_leg side="L" position="B"/>--> 


</robot>
